@{
    ViewBag.PageTitle = "Login";
    Layout = "_LayoutBase";
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui primary image header">
            <img src="/images/logo.png" class="image">
            <div class="content">
                Personnel Login
            </div>
        </h2>
        <div class="ui large form" id="form-auth">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" id="email" placeholder="Username/ E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="ui fluid large primary submit button" id="do-login">  <i class="door icon"></i> Login</div>
            </div>

            <div class="ui error message"></div>

        </div>

    </div>
</div>

@section Styles { 
    <link href="~/css/login.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/member/login.js" asp-append-version="true"></script>
}