@{
    ViewBag.PageTitle = "Home page";
}
    <h1 class="ui header">Currenct Status</h1>

<div class="ui vertical masthead center aligned segment">
    <div class="ui text container" id="check-status-holder">
        <div class="ui inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
        <p></p>
        <p></p>
    </div>

</div>

@section Scripts {
    <script src="~/js/attendance/home.js" asp-append-version="true"></script>

    <script id="tmp-personnel-checked-out" type="text/x-jsrender">
        <div class="ui text container" id="check-status-holder">
            <h1 class="ui header" id="check-status">
                You have checked out!
            </h1>
            <h3>Last check out: <span class="date-text ui red horizontal label" data-value="{{:CreationTime}}">  </span></h3>
            <div class="ui huge green button check-button" data-status="in"><i class="right arrow icon"></i> Check In </div>
        </div>
    </script>
    <script id="tmp-personnel-checked-in" type="text/x-jsrender">
        <div class="ui text container" id="check-status-holder">
            <h1 class="ui header" id="check-status">
                You have checked in!
            </h1>
            <h3>Last check in: <span class="date-text ui green horizontal label" data-value="{{:CreationTime}}">  </span></h3>
            <div class="ui huge red button check-button" data-status="out"><i class="right arrow icon"></i> Check Out </div>
        </div>
    </script>

}