@{
    ViewBag.PageTitle = "Home page";
}

    <div class="ui vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui header">
                You have checked out!
            </h1>
           
            <div class="ui huge green button"><i class="right arrow icon"></i> Check In </div>
        </div>

    </div>

